* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  width: 100vw;
  height: 100vh;
  /* position: fixed; */
  /* background-image: url('C:\Users\prabhat kumar\Desktop\Netflix\frontend\src\assets\banner.jpg'); */
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  margin-inline: 4rem;
  box-shadow: black;
}


.header_logo img {
  width: 10rem;
  height: 3rem;
}

.header_btn {
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.header_btn select {
  width: 10rem;
  text-align: center;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.784);
  color: white;
  border: 2px solid white;
  border-radius: 0.5rem;

}


.header_btn button {
  width: 4rem;
  height: 2rem;
  cursor: pointer;
  color: #fff;
  border-radius: 0.5rem;

}

.header_btn :nth-child(2) {
  background-color: red
}

.header_btn :nth-child(2) :hover {
  color: rgb(61, 59, 59);
}

/* ==============HomeBanner================== */
.homebanner {
  text-align: center;
  color: #fff;
  margin-top: 10rem;
}

.homebanner_btn {
  margin-top: 2rem;

}

.homebanner_btn input {
  width: 20rem;
  height: 3rem;
  background-color: rgb(36, 35, 35);
  color: white;
  font-size: 1rem;
  padding-left: 1rem;
  border-color: white;
  cursor: pointer;
  margin-right: 0.75rem;
}

.homebanner_btn button {
  width: 13rem;
  height: 3rem;
  background-color: red;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: #fff;
  font-size: 1rem;
}

.homebanner_btn button:hover {
  background-color: darkred;
}

/* ===============Login============ */
.login {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.784);


}

.login_wrap {
  width: 400px;
  height: 600px;
  padding: 50px;
}

.login_wrap h2 {
  margin-bottom: 35px;
  font-size: 3rem;
}

.login_input {

  margin-bottom: 40px;
}

.login_input input {
  width: 100%;
  height: 50px;
  margin-bottom: 25px;
  background-color: gray;
  border: none;
  outline: none;
  padding: 20px;
  cursor: pointer;
}

.login_wrap button {
  width: 100%;
  height: 40px;
  background-color: red;
  border: none;
  outline: none;
  cursor: pointer;
}

.login_wrap button:hover {
  background-color: darkred;

}

.login_info {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.login_checkbox {
  display: flex;
}

.login_discriptions h3 {

  margin-top: 30px;
  margin-bottom: 20px;
  color: gray;
}

.login_discriptions span {
  color: white;
}

.login_discriptions p {
  color: gray;
}

/* ===================Banner============ */
.banner_wrap {
  width: 100%;
  height: 250px;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: red;
}

.list_list {
  margin: 10px;
}

.list_list img {
  width: 100px;
  height: 150px;
  margin: 10px;
  cursor: pointer;
}